/*CSS properties for NEWSX APP*/



a {
  text-decoration: none;
}

h6 {
  display: inline;
  word-spacing: 2px;
  padding: 4px;
}

img{
  border-radius: 10px;
  height: 100%;
}

span{
  font-size: bold;
}

.container{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1000px;
  display:flex;
  flex-wrap: wrap;
  flex: 0.5;
}

.newsBox{
  margin:5px;
  width: 22%;
  align-content: center;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center; 
  box-shadow: 2px 2px #353535;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

.news-content-box{
  border: 0.5px solid black;
  border-radius: 10px;
  width: 30%;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .news-content-box {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .container{
    justify-content: space-evenly;
  }
  .news-content-box {
    width: 48%;
    margin-right: auto;
    margin-left: auto;
  }
}

.news-link{
  color: inherit;
}

.news-image{
  width: 100%;
}

.news-header{
  padding-left: 10px;
  padding-right: 5px;
}

.news-content{
  font-size: bold;
  padding-left: 10px;
  padding-right: 5px;
}

.news-footer{
  text-align: right;
  padding-right: 10px;
  padding-bottom: 2px;
  margin-top: auto;
}

.back_button{
  width: 80%;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 10px;
}

.footer{
  background-color: yellow;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

